.app {
  display: grid;
  align-items: center;
  min-height: 100vh;
  background: #dfdfdf;
}

.btn {
  display: grid;
  align-items: center;
  padding: 4px;
  color: #fff;
  background: #00aeff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background: #0299df;
}