*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  display: grid;
  align-items: center;
  min-height: 100vh;
  background: #dfdfdf;
}
.app .btn {
  display: grid;
  align-items: center;
  padding: 4px;
  color: #fff;
  background: #00aeff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.app .btn:hover {
  background: #0299df;
}
.app .todo {
  width: 480px;
  margin: 0 auto;
  padding: 24px;
  overflow: hidden;
  background: #fff;
  border-radius: 16px;
}
.app .todo .title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 24px;
}
.app .todo .add-todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.app .todo .add-todo input {
  width: 80%;
  padding-left: 16px;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease;
}
.app .todo .todo-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
  padding: 0 16px;
  overflow: hidden;
  line-height: 32px;
  background: #f2f2f2;
  cursor: pointer;
  transition: 0.2s;
}
.app .todo .todo-item .remove-button {
  position: absolute;
  right: -32px;
  width: 32px;
  height: 32px;
  color: #fff;
  text-align: center;
  background: red;
  transition: 0.2s;
}
.app .todo .todo-item .remove-button:hover {
  background: #ca0303;
}
.app .todo .todo-item:hover {
  background: #d4d4d4;
}
.app .todo .todo-item:hover .remove-button {
  right: 0;
}
.app .todo .todo-item.completed {
  background: #cbffd2;
}
.app .todo .todo-item.completed:hover {
  background: #b9e9bf;
}
